user  nginx;
worker_processes  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}



http {
  upstream myproject {
    server webapp_1:5000 weight=3;
    server webapp_2:5000;
    server webapp_3:5000 backup;
  }

  server {
    listen 80;
    location / {
      proxy_pass http://myproject;
    }
  }
}
